<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAyPQ0Zsg3EaKfg_cslMX_iOcI1iEO6euU</string>
	<key>GCM_SENDER_ID</key>
	<string>130273492937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shubhammittal.mynotes588</string>
	<key>PROJECT_ID</key>
	<string>mynotes588</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes588.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130273492937:ios:1c289348d31f034cecb218</string>
</dict>
</plist>